02-build-flags/main
02-build-flags/main.exe
03-go-bindata-tpl/app
05-gocv-machinebox/vendor
05-gocv-machinebox/*.jpg
06-raspi-go-1/*.jpg
09-slack-bot/vendor

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
